<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.umbrella.dao.UploadorderMapper">
  <resultMap id="BaseResultMap" type="com.pro.umbrella.model.pojo.Uploadorder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cabinet_id" jdbcType="VARCHAR" property="cabinetId" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="umbrella_id" jdbcType="VARCHAR" property="umbrellaId" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="business_id" jdbcType="VARCHAR" property="businessId" />
    <result column="location_time" jdbcType="VARCHAR" property="locationTime" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="vbat" jdbcType="VARCHAR" property="vbat" />
    <result column="csq" jdbcType="VARCHAR" property="csq" />
    <result column="seq" jdbcType="VARCHAR" property="seq" />
    <result column="lng" jdbcType="DECIMAL" property="lng" />
    <result column="lat" jdbcType="DECIMAL" property="lat" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cabinet_id, num, umbrella_id, action, business_id, location_time, version, vbat, 
    csq, seq, lng, lat, create_time
  </sql>
  <select id="selectByExample" parameterType="com.pro.umbrella.model.pojo.UploadorderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from uploadorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from uploadorder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from uploadorder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pro.umbrella.model.pojo.UploadorderExample">
    delete from uploadorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pro.umbrella.model.pojo.Uploadorder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into uploadorder (cabinet_id, num, umbrella_id, 
      action, business_id, location_time, 
      version, vbat, csq, 
      seq, lng, lat, create_time
      )
    values (#{cabinetId,jdbcType=VARCHAR}, #{num,jdbcType=VARCHAR}, #{umbrellaId,jdbcType=VARCHAR}, 
      #{action,jdbcType=VARCHAR}, #{businessId,jdbcType=VARCHAR}, #{locationTime,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{vbat,jdbcType=VARCHAR}, #{csq,jdbcType=VARCHAR}, 
      #{seq,jdbcType=VARCHAR}, #{lng,jdbcType=DECIMAL}, #{lat,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pro.umbrella.model.pojo.Uploadorder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into uploadorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cabinetId != null">
        cabinet_id,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="umbrellaId != null">
        umbrella_id,
      </if>
      <if test="action != null">
        action,
      </if>
      <if test="businessId != null">
        business_id,
      </if>
      <if test="locationTime != null">
        location_time,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="vbat != null">
        vbat,
      </if>
      <if test="csq != null">
        csq,
      </if>
      <if test="seq != null">
        seq,
      </if>
      <if test="lng != null">
        lng,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cabinetId != null">
        #{cabinetId,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="umbrellaId != null">
        #{umbrellaId,jdbcType=VARCHAR},
      </if>
      <if test="action != null">
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="locationTime != null">
        #{locationTime,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="vbat != null">
        #{vbat,jdbcType=VARCHAR},
      </if>
      <if test="csq != null">
        #{csq,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        #{seq,jdbcType=VARCHAR},
      </if>
      <if test="lng != null">
        #{lng,jdbcType=DECIMAL},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pro.umbrella.model.pojo.UploadorderExample" resultType="java.lang.Long">
    select count(*) from uploadorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update uploadorder
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cabinetId != null">
        cabinet_id = #{record.cabinetId,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=VARCHAR},
      </if>
      <if test="record.umbrellaId != null">
        umbrella_id = #{record.umbrellaId,jdbcType=VARCHAR},
      </if>
      <if test="record.action != null">
        action = #{record.action,jdbcType=VARCHAR},
      </if>
      <if test="record.businessId != null">
        business_id = #{record.businessId,jdbcType=VARCHAR},
      </if>
      <if test="record.locationTime != null">
        location_time = #{record.locationTime,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.vbat != null">
        vbat = #{record.vbat,jdbcType=VARCHAR},
      </if>
      <if test="record.csq != null">
        csq = #{record.csq,jdbcType=VARCHAR},
      </if>
      <if test="record.seq != null">
        seq = #{record.seq,jdbcType=VARCHAR},
      </if>
      <if test="record.lng != null">
        lng = #{record.lng,jdbcType=DECIMAL},
      </if>
      <if test="record.lat != null">
        lat = #{record.lat,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update uploadorder
    set id = #{record.id,jdbcType=INTEGER},
      cabinet_id = #{record.cabinetId,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=VARCHAR},
      umbrella_id = #{record.umbrellaId,jdbcType=VARCHAR},
      action = #{record.action,jdbcType=VARCHAR},
      business_id = #{record.businessId,jdbcType=VARCHAR},
      location_time = #{record.locationTime,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=VARCHAR},
      vbat = #{record.vbat,jdbcType=VARCHAR},
      csq = #{record.csq,jdbcType=VARCHAR},
      seq = #{record.seq,jdbcType=VARCHAR},
      lng = #{record.lng,jdbcType=DECIMAL},
      lat = #{record.lat,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pro.umbrella.model.pojo.Uploadorder">
    update uploadorder
    <set>
      <if test="cabinetId != null">
        cabinet_id = #{cabinetId,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="umbrellaId != null">
        umbrella_id = #{umbrellaId,jdbcType=VARCHAR},
      </if>
      <if test="action != null">
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="businessId != null">
        business_id = #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="locationTime != null">
        location_time = #{locationTime,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="vbat != null">
        vbat = #{vbat,jdbcType=VARCHAR},
      </if>
      <if test="csq != null">
        csq = #{csq,jdbcType=VARCHAR},
      </if>
      <if test="seq != null">
        seq = #{seq,jdbcType=VARCHAR},
      </if>
      <if test="lng != null">
        lng = #{lng,jdbcType=DECIMAL},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pro.umbrella.model.pojo.Uploadorder">
    update uploadorder
    set cabinet_id = #{cabinetId,jdbcType=VARCHAR},
      num = #{num,jdbcType=VARCHAR},
      umbrella_id = #{umbrellaId,jdbcType=VARCHAR},
      action = #{action,jdbcType=VARCHAR},
      business_id = #{businessId,jdbcType=VARCHAR},
      location_time = #{locationTime,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      vbat = #{vbat,jdbcType=VARCHAR},
      csq = #{csq,jdbcType=VARCHAR},
      seq = #{seq,jdbcType=VARCHAR},
      lng = #{lng,jdbcType=DECIMAL},
      lat = #{lat,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.pro.umbrella.model.pojo.UploadorderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from uploadorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>